doctype html
html
  head
    title OAISO
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/node_modules/materialize-css/dist/css/materialize.css')
    link(rel='stylesheet', href='./sell.css')
    script(src='/node_modules/jquery/dist/jquery.js')
    script(src='/node_modules/materialize-css/dist/js/materialize.js')
  body
    block content
