doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/vendor/materialize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/vendor/jquery.js')
    script(src='/vendor/materialize.js')
    base(href='/')
  body
    block content
