extends layout

block content
  nav(class='blue lighten-1' role='navigation')
    div(class='nav-wrapper container')
      a#logo-container.brand-logo= title
  .container
    .section
      a(class='waves-effect waves-light btn' href='/login/oauth') Twitterでログイン
