<div class="container">
  <div class="section">
    <app-summary></app-summary>
  </div>
  <table class="uk-table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>残り部数</th>
        <th>価格</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let copy of copyStoreService.copies; let i = index;">
        <td>
          {{copy.title}}
          <span class="new badge sell-selected-badge" data-badge-caption="" *ngIf="!isSelectedNone(copy.id)">{{sellStoreService.selected[i]}}</span>
        </td>
        <td>{{copy.circulation}}</td>
        <td>{{copy.price}}</td>
        <td class="right-align">
          <a class="waves-effect waves-light btn-floating" [ngClass]="{ disabled: isSelectedJustAsCirculation(copy.id) }" (click)="onAdd(copy.id)">
            <i class="material-icons">add</i>
          </a>
          <a class="waves-effect waves-light btn-floating" [ngClass]="{ disabled: isSelectedNone(copy.id) }" (click)="onMinus(copy.id)">
            <i class="material-icons">remove</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-sell-fab></app-sell-fab>
