<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s6">￥
        <div class="input-field inline"><input id="sum-price" type="text" disabled="disabled" value="1000"><label for="#sum-price">合計</label></div>
      </div>
      <div class="col s6 valign-wrapper"><a class="waves-effect waves-light btn valign input-field"><i class="material-icons left">send</i>sold</a></div>
    </div>
  </div>
  <table class="uk-table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>残り部数</th>
        <th>価格</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="uk-text-center-medium">ほげ</td>
        <td>19</td>
        <td>500</td>
        <td> <a><i class="material-icons">add_circle_outline</i></a><a><i class="material-icons">remove_circle_outline</i></a></td>
      </tr>
      <tr>
        <td class="uk-text-center-medium">fuga</td>
        <td>1</td>
        <td>100</td>
        <td> <a><i class="material-icons">add_circle_outline</i></a><a><i class="material-icons">remove_circle_outline</i></a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="right-align"><a class="btn-floating waves-effect waves-light btn"><i class="material-icons">add</i></a></td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="fixed-action-btn"><a class="btn-floating btn-large red"><i class="material-icons">menu</i></a>
  <ul>
    <li><span>譲るモード</span><a class="btn-floating"><i class="material-icons">card_giftcard</i></a></li>
    <li><span>編集</span><a class="btn-floating"><i class="material-icons">edit</i></a></li>
  </ul>
</div>