<nav role="navigation" class="blue lighten-1">
  <div class="nav-wrapper container" [hidden]="isRegisterd === false">
    <a id="logo-container" class="brand-logo">OAISO</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li>
        <div class="userView blue lighten-1">
          <a href="#!user"><img src="https://pbs.twimg.com/profile_images/719912967974719488/b6SnVXF8_normal.jpg" class="circle responsive-img"></a>
          <a href="#!circle-name"><span class="name white-text">circle_name</span></a><a href="#!name"><span class="email white-text">sisisin</span></a></div>
      </li>
      <li routerLinkActive="active"><a routerLink="/sell">販売</a></li>
      <li routerLinkActive="active"><a routerLink="/twitter">twitter連携</a></li>
      <li routerLinkActive="active"><a routerLink="/invite">売り子招待</a></li>
      <li><div class="divider"></div></li>
      <li routerLinkActive="active"><a routerLink="/circle">サークル設定</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>

  <div class="nav-wrapper container" [hidden]="isRegisterd === true">
    <a id="logo-container" class="brand-logo">OAISO</a>
  </div>
</nav>
